<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= data.page.title || "The Middleman" %></title>
    
    <%= stylesheet_link_tag "app" %>
    <%= javascript_include_tag "modernizr" %>
  </head>
  
  <body class="<%= page_classes %>">
    <div class="row">
      <div class="large-12 columns">
        <%= partial "header" %>
      </div>
    </div>
    <div class="row">
      <div class="medium-3 columns">
        <%= partial "navigation" %>
      </div>
      <div class="medium-9 columns">
        <%= yield %>
      </div>
    </div>
    <div class="row">
      <%= partial "footer" %>
    </div>
    <%= javascript_include_tag  "all" %>
  </body>
</html>
